# This is the RoboClerk UnitTest Function Name analysis plugin. Using this plugin,
# information can be extracted from the unit test source code files. This plugin 
# assumes that the test plan can be created from information extracted from the
# test function name. The test function name must follow a standard pattern
# specified in this configuration file.

# Function name mask is used to define how to parse various sections of the unit
# test description from the function name. The following element identifiers are
# supported:
# <PURPOSE> = the setup for the test, usually a short description
# <POSTCONDITION> = the successful (expected) postcondition for the test
# <IDENTIFIER> = a unique identifier for the unit test, if no unique identifier
#                is supplied, Roboclerk will generate one based on the filename
#                and line number of the test.
# <TRACEID> = a traceable link from this test to a trace entity
# <IGNORE> = a placeholder for parts of the function name to ignore.
# Example: "<PURPOSE>_VERIFIES_<POSTCONDITION>" matches
#          This_is_the_purpose_VERIFIES_that_the_test_is_good
# NOTE THAT THE FUNCTION MASK MUST START WITH AN ELEMENT IDENTIFIER

# use information in git to assign a last modified date to the test cases
UseGit = true

# TestConfigurations - New format that supports multiple configurations per project
[[TestConfigurations]]
Language = "csharp" # Language selection (one per project): csharp | java | python | typescript | javascript
TestDirectory = "{PROJECTROOT}RoboClerk.Tests" # Directory where RoboClerk should search for unit tests
SubDirs = true # Set to true to include subdirs 
FileMasks = ["Test*.cs"] # Set the filemasks that will be used to match files
Project = "RoboClerk" # Project identifier for this configuration
FunctionMask = "<PURPOSE>_VERIFIES_<POSTCONDITION>"
SectionSeparator = "_"
# As spaces are not allowed in function names, a system must be used to separate
# the words in each section. For this configuration one or more separator 
# characters can be indicated (e.g. this_is_not_camel_case with separator _) or
# CAMELCASE for a camelcase (e.g. thisIsCamelCase) based approach.







